* {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
	list-style: none;
}
a {
	text-decoration: none;

}

body {
	background-color: #fff;
}
/*头部开始*/
header {
	width: 100%;
	height: 1070px;
}
.banner {
	width: 100%;
	height: 1070px;
	position: relative;
}
.banner  ul li,
.banner  ul li a,
.banner  ul li a img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
    left: 0;
    z-index: 10;
}
.banner  ul li a img{
	opacity: 0;
	transition: all .2s linear;
}
.banner-left {
	width: 15%;
	height: 1070px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 20;
	background-image: linear-gradient(90deg,rgba(0,0,0,0.2),rgba(0,0,0,0.05));
	text-align: center;
	line-height: 1070px;
}
.banner i {
	font-size: 30px;
	color: #fff;
}
.banner-right {
	width: 15%;
	height: 1070px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 20;
	background-image: linear-gradient(180deg,rgba(0,0,0,0.2),rgba(0,0,0,0.05));
	text-align: center;
	line-height: 1070px;
}
.banner-bottom {
	width: 40px;
	height: 20px;
	position: absolute;
	bottom: 30px;
	left: 0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
	z-index: 900;
	/*background-color: black;*/
}
.banner-bottom-1 {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #80736f;
	margin-right: 10px;
	float: left;
}
.banner-bottom-2 {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #cab9ad;
	float: left;
}
.header-top {
	width: 100%;
	height: 80px;
	background-color: rgba(0,0,0,0.2);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}
.header-top1 {
	width: 1311px;
	height: 80px;
	margin: 0 auto;
}
.logo {
	width: 140px;
	height: 32px;
    margin-top: 20px;
    float: left;
}
.logo img {
	width: 140px;
	height: 40px;
}
.header-right {
	width: 510px;
	height: 80px;
	float: right;
}
.header-right ul li a {
	display: block;
	width: 85px;
	height: 100%;
	text-align: center;
	line-height: 80px;
	font-size: 14px;
	color: #fff;
	float: left;
}
.header-right li:nth-of-type(1) a {
	color: #16b0dc;
}
.header-right ul li a:hover {
	color: #16b0dc;
}
.header-right li:nth-of-type(6) a {
	margin: 0;
}
/*素馨花艺开始*/
.sxhy {
	width: 1262px;
	height: 769px;
	margin: 0 auto;
	overflow: hidden;
}
.sxhy-top {
	width: 226px;
	height: 35px;
	margin: 76px auto 21px;
}
.sxhy-top p {
	font-size: 35px;
	color: #37474f;
	float: left;
	margin-right: 20px;
}
.sxhy-top img {
	width: 63px;
	height: 30px;
	margin-top: 9px;
}
.sxhy-top1 {
	width: 100%;
	height: 18px;
	text-align: center;
	margin-bottom: 55px;
}
.sxhy-top1 p {
	font-size: 18px;
	color: #afbac3;
}
.sxhy-bottom {
	width: 100%;
	height: 502px;
	position: relative;
}
.sxhy-b-left {
	width: 32px;
	height: 32px;
	border-radius: 26px;
	background-color: #c7ced3;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;j
	margin-right: 20px;
	text-align: center;
	line-height: 32px;
}
.swiper-button-prev{
	font-size: 12px;
	color: red;
}
.sxhy-b-left:hover {
	background-color: rgb(181,190,197);
}
.sxhy-bottom i {
	font-size: 16px;
	color: #fff;
}
.sxhy-b-right {
	width: 32px;
	height: 32px;
	border-radius: 26px;
	background-color: #c7ced3;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 20px;
	text-align: center;
	line-height: 32px;
}
.sxhy-b-right:hover {
	background-color: rgb(181,190,197);
}
.gg {
	width: 1158px;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
}
.gg .tt{
	width: 1950px;
	height: 100%;
}
.tt :last-child{
	margin-right: 0;
}
.gg1 {
	width: 368px;
	height: 100%;
	float: left;
	margin-right: 20px;
}
.gg  img{
	width: 368px;
	hyphens: 368px;
	border-radius: 200px;
	margin-bottom: 10px;
}
.text1 {
	width: 100%;
	height: 20px;
    font-size: 20px;
    color: #7f898d;
    margin-bottom: 15px;
    text-align: center;
}
.text2 {
	width: 100%;
	height: 39px;
	font-size: 14px;
	color: #757575;
	margin-bottom: 14px;
	text-align: left;
}
.ckxq {
	width: 368px;
    height: 36px;
    background-color: #f96868;
    border-radius: 5px;
    line-height: 36px;
    font-size: 14px;
    color: #fff;
}
.ckxq i {
	font-size: 16px;
	margin-left: 140px;
	margin-right: 10px;
	float: left;
	color: #9c2115;
}
.ckxq span {
	color: #fff;
	font-size: 14px;
	float: left;
}
.ckxq:hover {
	opacity: 0.5;
	transition: all 0.5s ease;
}
.gg2 {
	width: 368px;
	height: 100%;
	float: left;
	margin: 0 27px;
}
/*素馨花语开始*/
.sxhyu {
	width: 100%;
	height: 707px;
	background-color: #f5f5f5;
}
.sxhyu1 {
	width: 1269px;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
}
.sxhyu-top {
	width: 226px;
	height: 35px;
	margin: 76px auto 56px;
}
.sxhyu-top p {
	font-size: 35px;
	color: #37474f;
	float: left;
	margin-right: 20px;
	color: #7f898d;
}
.sxhyu-top img {
	width: 63px;
	height: 30px;
	margin-top: 9px;
}
.sxhyu-bottom {
	width: 100%;
	height: 508px;
	margin: 0 auto;
}
.sxhyu-bottom li {
	width: 614px;
	height: 97px;
	margin-right: 41px;
	margin-bottom: 30px;
	float: left;
}
.sxhyu-bottom li:nth-child(2n) {
	margin-right: 0;
}
.sxhyu-bottom li img {
	width: 160px;
	height: 97px;
	border-radius: 5px;
	margin-right: 22px;
	float: left;
}
.sxhyu-bottom-text {
	display: block;
    width: 432px;
    height: 26px;
    margin-bottom: 12px;
	font-size: 22px;
	color: #2a333c;
	float: left;
	overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.sxhyu-bottom-text:hover {
	color: rgb(22,176,220);
	text-decoration: underline;
}
.sxhyu-bottom li p {
	width: 432px;
	height: 35px;
	font-size: 14px;
	float: left;
	color: #99a2ab;
	margin-bottom: 12px;
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
/*素馨花卉开始*/
.sxhh {
	width: 858px;
	height: 907px;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
}
.sxhh-top {
	font-size: 35px;
	color: #7f898d;
	margin: 76px auto 97px;
}
.sxhh li {
	font-size: 14px;
	color: #ababab;
	margin-bottom: 16px;
}
.sxhh li:first-child {
	margin-bottom: 36px;
}
.sxhh li:last-child {
	margin-top: 40px;
}
/*底部开始*/
.kb {
	width: 100%;
	height: 20px;
	border-top: 1px #f5f5f5 solid;
}
footer {
	width: 100%;
	height: 161px;
	background-color: #f5f5f5;
}
.footer-1 {
	width: 355px;
	height: 136px;
	margin: 0 auto;
	text-align: center;
	padding-top: 25px;
}
.footer-1 li {
	font-size: 12px;
	color: #aaa;
	margin-bottom: 12px;
}
.footer-1 li:first-child a {
	font-size: 28px;
	margin-bottom: 22px;
	margin-right: 10px;
}
.footer-1 li:first-child > a:hover {
	opacity: 0.5;
}
.footer-1 li:nth-of-type(2) a{
	color: #62a8ea;
}
.footer-1 li img {
	margin-left: 10px; 
}
.footer-1 li:nth-of-type(2) > a:hover{
	opacity: 0.5;
	text-decoration: underline;
}